<h1>Политика конфиденциальности</h1><br>

Дата последнего обновления: 2025.02.09<br>

Настоящая Политика конфиденциальности описывает, какие данные мы собираем, как их используем и какие меры принимаем для их защиты.<br>
1. Какие данные мы собираем<br>

При регистрации или использовании нашего сайта мы можем собирать следующие данные:<br>

    Адрес электронной почты – используется для связи с пользователем и восстановления доступа к аккаунту.<br>
    Никнейм – отображается на сайте и используется для идентификации пользователя.<br>

Мы не собираем персональные данные, такие как фамилия, имя, номер телефона или платежная информация.<br>
2. Как мы используем данные<br>

Ваши данные могут использоваться для:<br>

    Регистрации и входа в аккаунт.<br>
    Связи с пользователем по вопросам, связанным с работой сайта.<br>
    Улучшения работы сайта и пользовательского опыта.<br>

3. Хранение и защита данных<br>

Мы принимаем разумные меры для защиты ваших данных от несанкционированного доступа, утраты или изменения. Доступ к данным имеет только ограниченный круг лиц, отвечающих за поддержку сайта.<br>
4. Передача данных третьим лицам<br>

Мы не передаем и не продаем ваши данные третьим лицам. Исключение возможно только в случаях, предусмотренных законом.<br>
5. Ваши права<br>

Вы имеете право:<br>

    Запросить удаление вашего аккаунта и данных.<br>
    Изменить свою почту или никнейм в настройках профиля.<br>

Для удаления данных или вопросов по их обработке вы можете связаться с нами по электронной почте: [ваш email].<br>
6. Изменения в политике конфиденциальности<br>

Мы оставляем за собой право вносить изменения в данную политику. Актуальная версия всегда доступна на этой странице.<br>